PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@campusbuddy.mongodb.net/campusbuddy?retryWrites=true&w=majority
JWT_SECRET=super_secret_campus_buddy_jwt_key_2026

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
